.brands {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 1fr;
   gap: 10rem;
}

.brand {
   display: flex;
   justify-content: center;
   align-items: center;

   filter: grayscale(1);

   transition: filter 0.2s linear;
}

.brand:hover {
   filter: grayscale(0);
}

.brand > img {
   width: 100%;
}